{% extends "base.html.twig" %}

{% block title %}
Тест SymPro-F
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/skin.css') }}>
{% endblock %}

{% block body %}
<div class="container">
    {% block navbar %}
        <nav class="navbar">
            <a class="navbar-brand" href="{{ path('index') }}">SymPRO-F</a>
        </nav>
    {% endblock %}
    {% block work %}
        <p class="lead">Начало</p>
    {% endblock %}
</div>
{% endblock %}