{% extends "base.html.twig" %}

{% block title %}
Тест SymPro-F
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/skin.css">
{% endblock %}

{% block body %}
<h1>Тест SymPRO-F</h1>
{% endblock %}